.sol--welcome {
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sol--piano-services {
  background-color: pink;
  position: absolute;
  width: 50%;
  left: 0px;
}

.sol--piano-tuning {
  background-color: aqua;
  position: absolute;
  width: 50%;
  left: 0px;
}
